# compiled module and object files
*.o
*.mod
*.smod

# intermediate build files
odir*
actualflags.txt
.swanlastcompile
changelog
version.F
adcircResultsComparison
work/libadc.a
build/
build13
build12
config.h
_build
*.a
adcirc
padcirc
adcprep
adcswan
padcswan
aswip

# thirdparty files
*.sw*
swan/*.f
swan/*.f90
thirdparty/nuopc/libadc_cap.a
thirdparty/nuopc/adcirc.mk
util/estofs_tide_fac/estofs_tide_fac
work/util/*

# editor files
.idea/
.vscode/
.project

# Autotools Files
Makefile.in
Makefile
autom4te.cache
config.log
configure
configure~
config.sub
config.guess
compile
missing
ltmain.sh
depcomp
aclocal.m4
config.status
install-sh
libtool
*.m4
stamp-h1
**/.deps
work/lib/libswan_*_source
