# executables
adcirc
padcirc
adcprep
adcpost
adccmp
inflate
hot2asc
hstime
aswip
p15
adcswan
padcswan

# compiled module and object files
*.o
*.mod
*.smod

# intermediate build files
odir*
actualflags.txt
.swanlastcompile
changelog
version.F
adcircResultsComparison
lib/
work/libadc.a
build/
build13
build12
config.h

# thirdparty files
*.sw*
swan/*.f
swan/*.f90
thirdparty/nuopc/libadc_cap.a
thirdparty/nuopc/adcirc.mk
util/estofs_tide_fac/estofs_tide_fac
work/util/*

# editor files
.idea/
.vscode/
.project
